@model TerugbelnotitiesApp.Models.NotitiesViewModel
@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Terugbelnotities</h1>
	<p>Overzicht van alle terugbelnotities en bijbehorende details.</p>
</div>

<br />
<br />

<table style="width:100%; border-collapse:collapse;" class="table">
	<tr>
		<th>Id</th>
		<th>Datum + tijd</th>
		<th>Indiener</th>
		<th>Toegewezen</th>
		<th>Categorie</th>
		<th>Afgewerkt</th>
	</tr>
	@foreach (var note in Model.notes)
	{
		<tr class="accordion-toggle" data-toggle="collapse" data-target="#row_@(note.Id)">
			<td>@note.Id</td>
			<td>@note.Timestamp</td>
			<td>@note.AssigningUserName</td>
			<td>@note.AssignedUserName</td>
			@if(note.Category == "Terugbellen")
			{
				<td><img src="~/Uploads/circleBlue.svg" width="10" height="10" /> @note.Category</td>
			}
			@if(note.Category == "Spoed")
			{
				<td><img src="~/Uploads/circleRed.svg" width="10" height="10" /> @note.Category</td>
			}
			@if(note.Category == "Lage prioriteit")
			{
				<td><img src="~/Uploads/circleOrange.svg" width="10" height="10" /> @note.Category</td>
			}
			<td data-toggle="false">
				<form asp-controller="Home" asp-action="EditProcessed" asp-route-id="@note.Id" method="post" id="bool_@(note.Id)">
					@if (note.Processed.Value == true)
					{
						<input type="checkbox" onclick="event.stopPropagation()" onchange="$(bool_@(note.Id)).submit();" asp-for="editedProcessed" checked/>
					}
					else
					{
						<input type="checkbox" onclick="event.stopPropagation()" onchange="$(bool_@(note.Id)).submit();" asp-for="editedProcessed" />
					}
				</form>
			</td>
		</tr>
		<tr>
			<td colspan="6" class="hiddenRow">
				<div class="accordian-body collapse" style="padding:10px;" id="row_@(note.Id)">
					<span>Notitie:</span>
					<form asp-controller="Home" asp-action="EditNote" asp-route-id="@note.Id" method="post">
						<input type="text" asp-for="editedNote" value="@note.Notitie" class="form-control" id="note_@(note.Id)" style="margin-top: 5px; margin-bottom: 5px;" />
					</form>
					<span>Contactpersoon:</span>
					<br />
					<span style="font-weight: 500;">@note.PersonToCallName</span>
					<br />
					<span>Telefoonnummer:</span>
					<br />
					<span style="font-weight: 500;">@note.Phone</span>
					<a asp-controller="Home" asp-action="Delete" asp-route-id="@note.Id">
						<input type="button" class="btn" value="Verwijderen" id="deleteBtn" />
					</a>
				</div>
			</td>
		</tr>
	}
</table>

<br />

<a asp-controller="Home" asp-action="Add">
	<input type="button" class="btn" id="addBtn" value="Notitie toevoegen" />
</a>